.logo {
    text-align: center;

}

.logox {
    border-radius: 20px;
    height: 50px;
}

body {
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
    margin: 0px auto;
    padding: 0px 0px 5px 0px;  
    width: 50%;
    display: inline;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

h6 {
    text-align: center;
}

.gameChoice {
    float: left;
    left: 0;
}

.logo1, .logo2 {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

#welcome{
    text-align: center;
}

header {
    padding: 30px;
    background: rgb(198,198,198);
    background: linear-gradient(90deg, rgba(198,198,198,1) 0%, rgba(136,136,136,1) 35%, rgba(197,37,245,1) 100%);
    color: white;
}

h2 {
    text-align: center;
}

li {
    text-align: center;
    padding: 0;
    list-style: none;
}

.img2  {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }



footer {
    background: linear-gradient(90deg, rgba(198,198,198,1) 0%, rgba(136,136,136,1) 35%, rgba(197,37,245,1) 100%);
    padding: 20px 0;
    text-align: center;
}


.row-content {
    text-align: right;
    padding-right: o;
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
    background-color: #cc00ff;
}

.navbar-custom {
    background: linear-gradient(90deg, rgba(198,198,198,1) 0%, rgba(136,136,136,1) 35%, rgba(197,37,245,1) 100%);
}


@import 'games';